venv/
__pycache__/
*.pyc
.pytest_cache/
data/*.duckdb
data/raw/
data/bronze/*
data/silver/*
data/gold/*
data/incoming/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/incoming/.gitkeep
logs/
.streamlit/
.env
*.egg-info/
.DS_Store
